.form_wrapper {
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.form_row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}